.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reset {
  background: #8f7a66;
  border-radius: 3px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  font-size: 20px;
  /* line-height: 47px; */
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-align: center;
  flex-shrink: 0;
  border: none;
  margin-top: 8px;
}

.score {
  display: block;
  background: #bbada0;
  font-size: 25px;
  height: 40px;
  padding: 0 10px;
  /* line-height: 47px; */
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}
